<div class="footer clearfix">
    <ul class="clearfix">
        <li>
            <a routerLink="seller-auth">Become a Seller</a>
        </li>
        <li>
            <a routerLink="policies">Policies</a>
        </li>
        <li>
            <a routerLink="terms">Terms and Conditions</a>
        </li>
        <li>
            <a href="help">Help Centre</a>
        </li>
<!--         
        <li>
            <a href="">Sitemap</a>
        </li> -->
        
    </ul>
    <h5>copyright &copy; e-comm.com 2023 </h5>

</div>
