.checkout{
    text-align: center;
    margin: 50px 0px;
    font-family: poppins;
    color: var(--bs-orange);
}

.shipping-address{
    text-align: center;
    
    
    
    color:#3498DB;
    
}

.check{
    margin-top: 30px;
}



.messege {
    text-shadow: 2px 2px 2px white;
}
      
