<div style="width:60%;margin:50px auto;">
<div style="font-size: 19px;color: blue;margin-top: 20px;">
    How can I place an order?
</div>
<div>
    Browse our catalogue to find a product by kind, recipient, occasion, or price range. We've made it easier than ever to browse our inventory and verify your details. It's the quickest, easiest, and safest way to order. If you have questions about your order, call us. Please send us your complete order details to our mail at support@supershop.com.
</div>
<div style="font-size: 19px;color: blue;margin-top: 20px;">
    Do I have the option for cancelling my gift order once it is confirmed?
</div>
<div>
    To change your order, you must not have yet received your package. Once an order has been sent, it cannot be changed.
</div>
<div style="font-size: 19px;color: blue;margin-top: 20px;">
    Can I order more than one gift basket at a time to different locations?
</div>
<div>
    Yes, you can place multiple bulk orders at various locations. Depending on the delivery areas and the number of baskets, this is how it works.
</div>
</div>