.Update-product{
    padding-left: 0.5%;
    color: red;
    text-shadow: 2px 2px 4px #040404;
    margin-bottom: 100%;
    //box-shadow: inset;
}
h1{
    padding-left: 35%;
}

.update-messege{
    color: green;
    text-shadow: 2px 2px 4px white;
    //padding-left: 43.8%;
    text-align: center;
}